body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.primary-button {
  background-color: #f2f2f2;
  color: #27272a;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}

.inner-container {
  flex: 1 0 280px;
}

.container {
  display: block;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #313134;
  z-index: 1;
  border-radius: 6px;
  color: #f2f2f2;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height: 1000vh;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  background-color: #27272a;
  color: #f2f2f2;
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 800px) {
  .container {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .outer-container {
    flex-direction: column;
  }
}
